

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00afce 1.9%, #cd61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00c0ce 1.9%, #ba52ff 97.5%);
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

::-ms-scrollbar {
  display: none;
}

body {
  scrollbar-width: none; /* Para Firefox */
}
