.green-pink-gradient {
  background: beige;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

::-ms-scrollbar {
  display: none;
}

body {
  scrollbar-width: none; /* Para Firefox */
}

.text-shadow {
  text-shadow: black 1px 1px 1px;
}

.text-shadow2 {
  text-shadow: white 1.3px .5px;
}

.text-shadow3 {
  text-shadow: black 1.3px 1.3px;
}
